<div class="home">
  <app-api-card
    class="home__card"
    title='"Foo"'
    subTitle="Public"
    imgUrl="assets/image/foo.png"
    content='This is an demo public endpoint which requires no authentication.'
    apiText="/api/foo"
    [responseObj]="fooResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
     class="home__card"
     title='"Who am I"'
     subTitle="Authorized role: USER"
     imgUrl="assets/image/user.png"
     content='The regular endpoint which returns the current user information. You have to sign in as either a User or an Admin to gain the access to this endpoint.'
     apiText="/api/whoami"
     [responseObj]="whoamIResponse"
     (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
     class="home__card"
     title='"All users"'
     subTitle="Authorized role: ADMIN"
     imgUrl="assets/image/admin.png"
     content='This endpoint will give you a list of all the users. You have to sign in as an Admin to gain the access to this endpoint.'
     apiText="/api/user/all"
     [responseObj]="allUserResponse"
     (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
  class="home__card"
  title="Word transformation"
  subTitle="User"
  imgUrl="assets/image/user.png"
  content='This is a demo endpoint that requires user authentication.'
  apiText="/api/word-transformation/{authorId}"
  [responseObj]="userResponse"
  (apiClick)="makeByIdRequest($event)"
  >
  </app-api-card>
  <app-api-card
  class="home__card"
  title="Word transformation"
  subTitle="Admin"
  imgUrl="assets/image/foo.png"
  content='This is a demo endpoint that requires admin authentication.'
  apiText="/api/word-transformation/all"
  [responseObj]="getAllResponse"
  (apiClick)="makegetAllRequest($event)"
  >
  </app-api-card>
  <app-api-card
  class="home__card"
  title="Word transformation post"
  subTitle="Admin"
  imgUrl="assets/image/foo.png"
  content='This is a demo endpoint that requires admin authentication.'
  apiText="/api/word-transformation/new"
  [responseObj]="postRequest"
  (apiClick)="makeExercisePost($event)"
  >
  </app-api-card>
</div>
